/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
/*finish reseting*/

.wrap{
    width: 80%;
    margin: auto;
}
/*header*/
.header{
    background-image: url("../images/header_desktop.png");
    max-width: 1049px;
    height: 420px;
}
.topbar{
    background: rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    height: 56px;
}
.topbar .logo{
    display: block;
    width: 120px;
    height: 24px;
    margin:0px 42px 0px 42px;
    background: url(../images/logo_w.png);
}
.topbar .logo h1{
    text-indent: 102%;
    overflow: hidden;
    white-space: nowrap;
}
.topbar .menu{
    display: flex;
}
.topbar .menu li{
    margin:0px 5px 0px 5px;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    position: relative;
}
.topbar .menu a{
    padding: 18px 10px 17px 10px;
    color: #FFFFFF;
}
.slogan{
    margin:auto;
    width: 460px;
    background: rgba(0,0,0,0.35);
    margin-top: 67px;
    color:white;
    padding-bottom: 26px;
}
.slogan h2{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 36px;
    text-align: center;
    padding:20px 0px 10px 0px;
}
.slogan p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    text-align: center;
    padding-top:5px;
}
.menu li .dropdown{
    display: none;
    position: absolute;
    top:40px;
    right:0px;
    width: 180px;
    background: rgba(0,0,0,0.75);
}
.dropdown li{
    padding: 10px;
    border-bottom: 1px solid white;
}


/*footer*/
.footer{
    display: flex;
    background: #efe9e7;
    padding:45px;
    justify-content: space-between;
}
.infoBox{
    display: flex;
}
.infoBox h3{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    margin-bottom: 16px;
}
.infoBox p, .infoBox li{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
}
.infoBox li{
    list-style-type: disc;
}
.about, .contact{
    width: 230px;
}
.about{
    margin-right: 30px;
}
.icons{
    text-align: end;
}
.icons h2{
    font-family: NotoSansCJKtc-Black;
    font-size: 49px;
    color: #3D1101;
    letter-spacing: 0px;
}
.icons a{
    font-family: FontAwesome;
    font-size: 36px;
    margin-left: 12px;
}
.googleIcon{
    color: #DB4437;
}
.twitterIcon{
    color: #41ABE1;
}
.facebookIcon{
    color:#3A5795;
}

/*cartButton*/
.cartButton{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
    position:fixed;
    right:10px;
    bottom:80px;
    background: #3D1101;
    opacity: 0.8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*topButton*/
.topButton{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
    position:fixed;
    right:10px;
    bottom:10px;
    background: black;
    opacity: 0.8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*features*/
.features{
    background: rgba(250,250,250,0.70);
    padding: 50px;
}
.title h4{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    line-height: 32px;
    text-align: center;
}
.title{
    position: relative;
    margin-bottom: 30px;
}
.title .line{
    width: 45%;
    height: 0px;
    border: 1px solid #979797;
    position: absolute;
    top:32px;
    left:27.44%;
}
.featureBox{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.featureBox li{
    width: 25.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureBox img{
    border-radius: 100px;
    max-width: 200px;
    margin-bottom: 20px;
}
.featureBox h5{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 18px;
    color: #3D1101;
    margin-bottom: 11px;
}
.featureBox p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
}

/*chef*/
.chef{
    background: #3D1101;
    display: flex;
}
.chefPhoto{
    margin-left: 4%;
}
.chefIntro{
    margin-left: 2.4%;
    color: #EFE9E7;
}
.chefIntro h5{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    line-height: 32px;
    margin-top: 81px;
    padding:6px 0px 6px 0px;
}
.chefIntro h6{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    padding: 2.5px 0px 2.5px 0px;
    margin-bottom: 16px;
}
.chefIntro p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    margin-right: 7.5%;
    line-height: 25px;
}

/*thoughts*/
.thoughts{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #3D1101;
    background: #efe9e7;
}
.thoughts h4{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.thoughts ul{
    display: flex;
    justify-content: space-around;
}
.thoughtBox .who{
    display: flex;
    align-items: center;
}
.thoughtBox img{
    border-radius: 33.5px;
    margin-right: 13px;
}
.thoughtBox .what{
    margin-left: 80px;
}
.thoughtBox .what h6{
    margin-top: 16px;
    text-align: right;
}
.thoughtBox{
    width: 29%;
}

/*book*/
.book{
    background: rgba(250,250,250,0.70);
    padding: 50px 2.4% 50px 2.4%;

}
.book h4{
    text-align: center;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    padding: 4px 0px 4px 0px;
}

.info{
    display: flex;
    margin-top: 38px;
}

.info label, p{
    margin-bottom: 6px;
}
.info input{
    padding: 5px 14px 5px 14px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    margin-bottom: 12px;
}
.longAns{
    display: block;
    width: 90%;
}
.info form{
    width: 45%;
    margin-left: 2%;
}
.button{
    margin-top: 28px;
    display: flex;
    justify-content: flex-end;
}
.button input{
    margin-left:11px;
    border-radius: 3px;
    cursor: pointer;
}
.button .reset{
    background-color: rgba(0,0,0,0.35);
}
.button .submit{
    background: #F56C23;
}

/*/////////////////CART PAGE///////////////////*/
.cartContent{
    display: flex;
    background: #efe9e7;
    padding-top: 50px;
}
.leftOrderMenu{
    color: #3D1101;
    width: 21.5%;
    margin-left: 4%;
}
.cartContent .leftOrderMenu{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    line-height: 32px;
}
.leftOrderMenu h3{
    text-align: center;
}
.leftOrderMenu a{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    line-height: 32px;
    border-bottom: 1px solid #3D1101;
    color: #3D1101;
    display: block;
}
.leftOrderMenu li:hover{
    background-color:#3D1101 ;
    color:white
}
.orderChoices{
    width: 68.4%;
    margin-left: 2%;
}
.searchingBar{
    width: 460px;
    border: 2px solid #3D1101;
    display: flex;
    align-items: center;
    background:#3D1101;
}
.searchingBar .searchButton{
    color: white;
    padding-left: 9px;
}

.typeBar{
    width: 424px;
    height: 32px;
    background: #efe9e7;
}
.gotoPay .leftBorder{
    border-right: 1px solid #3D1101;;
}
.orderChoices ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.topOfChoices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.gotoPay{
    display: flex;
    justify-content: space-between;
}
.gotoPay p{
    padding:0px 5px 0px 5px;
    margin:3px;
    color:#3D1101;
}
.orderChoices .productBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #EFE9E7;
}
.product{
    width: 200px;
    display: inline;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    margin-bottom: 30px;
}

.product h4, .product h5, .product h6, .product p{
    text-align: center;
}
.product h4{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 20px;
    color: #3D1101;
    margin-top: 11px;
    line-height: 27px;
}
.product h6{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 12px;
    color: #3D1101;
    line-height: 16px;
}
.product .line{
    width: 91px;
    height: 8px;
    border-bottom: 1px solid #3D1101;
    margin: auto;
}
.product h5{
    font-family: Roboto-Light;
    font-size: 20px;
    color: #3D1101;
    margin-top: 8px;
    margin-bottom: 13px;
}
.product p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #FF5E45;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    margin: 10px;
    padding: 4px;
}

/*/////////////////LOGIN PAGE///////////////////*/
.login{
    background: #EFE9E7;
    padding-bottom: 10px;
}
.login h2, .login h4, .register h2, .register h4{
    color: #3D1101;
    text-align: center;
}
.login h2, .register h2{
    font-family: NotoSansCJKtc-Black;
    font-size: 48px;
    padding-top: 50px;
}
.login h4, .register h4{
    font-family: NotoSansCJKtc-Medium;
    font-size: 20px;
    margin: 5px 0px 35px 0px;
}
.login form{
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    width: 270px;
    margin: auto;
    padding:15px 15px 15px 15px;
    border-top: 3px solid #FF5E45;
}
.login form h6{
    text-align: center;
    font-family: NotoSansCJKtc-Black;
    font-size: 18px;
    color: #3D1101;
    font-weight: bolder;
    margin-bottom: 16px;
}
.login label, .login input{
    display: block;
}
.login label, .register label{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    margin-bottom: 3px;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.login #pw{
    margin-bottom: 1px;
}
.login .typeHere{
    width: 238px;
    height: 26px;
    padding-left: 24px;
}
.login .typeBlock{
    width: 238px;
    height: 32px;
    position: relative;
}
.login .typeBlock i{
    position: absolute;
    top:7px;
    left:6px;
    color: #3D1101;
}
.login form .forgot{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 14px;
    color: #FF5E45;
}
#mailBlock{
    margin-bottom: 15px;
}
#pwBlock{
    margin-bottom: 4px;
}
.registerButton, .submitButton{
    width: 125px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}
.login .registerButton{
    background: rgba(0,0,0,0.35);
}
.login .registerButton a{
    color:white;
}
.login .submitButton{
    background: #F56C23;
    color: white;
}

/*/////////////////REGISTER PAGE///////////////////*/
.register{
    background: #EFE9E7;
    padding-bottom: 10px;
}
.registerContent h6{
    text-align: center;
    font-family: NotoSansCJKtc-Black;
    font-size: 18px;
    color: #3D1101;
    font-weight: bolder;
    margin-bottom: 16px;
}
.flexBox{
    display: flex;
    justify-content: space-between;
}
.terms, .registerForm{
    width: 285px;
}
.register .registerContent{
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    width: 590px;
    margin: auto;
    padding:15px 15px 15px 15px;
    border-top: 3px solid #FF5E45;
}
.register .terms h5, .register .terms p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 18px;
    color: #3D1101;
    line-height: 24px;
}
.register .registerButton{
    background: #F56C23;
}
.register .typeBlock{
    width: 257px;
    height: 32px;
    position: relative;
}
.register .typeHere{
    width: 257px;
    height: 26px;
    padding-left: 24px;
}
.register .typeBlock i{
    position: absolute;
    top:7px;
    left:6px;
    color: #3D1101;
}
.buttonBox{
    display: flex;
    justify-content: flex-end;
}